In [1]:
import pandas as pd
df = pd.read_csv("C:\\Users\\gorgo\\Desktop\\active_purchase_log.txt", sep = "\t")

In [2]:
df["new_price"] = df.apply(lambda x: x["price"]*1100 if (x["market_code"] == "APPLE")&(x["purchase_log_id"] < 1456527) else x["price"], axis = 1)
df.drop("price", axis = 1, inplace = True)
df["crt_date"] = pd.to_datetime(df["crt_date"])

In [3]:
df_RFM = df.groupby('team_id').agg({'crt_date': lambda x: (df['crt_date'].max().date() - x.max().date()).days, 'purchase_log_id': lambda x: len(x), 'new_price': lambda x: round(x.sum(), 0)})

In [4]:
df_RFM.columns = ['Recency', 'Frequency', 'Monetary']
df_RFM = df_RFM.sort_values('Monetary', ascending=False)
quantiles = df_RFM.quantile(q=[0.80])
print(quantiles)

     Recency  Frequency   Monetary
0.8    706.0       73.0  1567638.6

In [5]:
import numpy as np
df_RFM['R']=np.where(df_RFM['Recency']<=int(quantiles.Recency.values), 2, 1)
df_RFM['F']=np.where(df_RFM['Frequency']>=int(quantiles.Frequency.values), 2, 1)
df_RFM['M']=np.where(df_RFM['Monetary']>=int(quantiles.Monetary.values), 2, 1)

In [6]:
# To do the 2 x 2 matrix we will only use Recency & Monetary
df_RFM['RMScore'] = df_RFM.M.map(str)+df_RFM.R.map(str)
df_RFM = df_RFM.reset_index()

df_RFM_SUM = df_RFM.groupby('RMScore').agg({'team_id': lambda y: len(y.unique()),
                                        'Frequency': lambda y: round(y.mean(),0),
                                        'Recency': lambda y: round(y.mean(),0),
                                        'R': lambda y: round(y.mean(),0),
                                        'M': lambda y: round(y.mean(),0),
                                        'Monetary': lambda y: round(y.sum(),0)})
df_RFM_SUM = df_RFM_SUM.sort_values('RMScore', ascending=False)
df_RFM_SUM

         team_id  Frequency  Recency  R  M      Monetary
RMScore
22          2514        327       98  2  2  2.928727e+10
21           120        157     1032  1  2  6.826659e+08
12          8020         15      195  2  1  2.173752e+09
11          2513          9     1383  1  1  3.510628e+08

In [8]:
pd.set_option('display.float_format', lambda x: '%.0f' % x)
df_RFM_SUM

         team_id  Frequency  Recency  R  M    Monetary
RMScore
22          2514        327       98  2  2 29287274416
21           120        157     1032  1  2   682665852
12          8020         15      195  2  1  2173752005
11          2513          9     1383  1  1   351062800